[submodule "lvgl"]
	path = lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/littlevgl/lv_drivers.git
[submodule "lv_fs_if"]
	path = lv_fs_if
	url = https://github.com/littlevgl/lv_fs_if.git
[submodule "lv_examples"]
	path = lv_examples
	url = https://github.com/littlevgl/lv_examples.git
